body{
    width: 100%;
    height: 100%;
    background-color: #33ffcc;
}
.seccion{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
#cabecera,#footer{
    background: #ccccff;
    text-align: center;
}
#menu{
    background: #ccff33;
    text-align: center;
    padding: 10px 0px;
}
a{
    text-decoration: none;
    padding: 5px;
}
a:hover{
   background: red;
}
table {
    width:100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th {
    padding: 5px;
    text-align: center;
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;
}
table#t01 th {
    background-color: #F2A30F;
    color: white;
}
.header {
    background-color: gray;
    text-align: center;
    padding: 20px;
    clear: both 
}
.menu{
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;

}
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Left and right column */
.column.side {
    
    float: left;
    width: 30%;
    padding: 30px;

}






.footer{
   
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;

}
