body{
    width: 100%;
    height: 100%;
    background-color: #33ffcc;
}
.seccion{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
#cabecera,#footer{
    background: #ccccff;
    text-align: center;
}
#menu{
    background: #ccff33;
    text-align: center;
    padding: 10px 0px;
}
a{
    text-decoration: none;
    padding: 5px;
}
a:hover{
   background: red;
}