/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18/05/2018, 11:08:18 AM
    Author     : 1102872345
*/ *
p{
    background: #A2738C;
    border:  solid 1px blueviolet; 
    padding: 5px; 
    text-align: center;  
    
}

